Alexa
[{"id":"fd450761.c62cc8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"bf06a09e.8b8b","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Skimmer","inputtrigger":false,"x":94,"y":367,"wires":[["42de313d.ccb6f"]]},{"id":"dd561c90.dbe08","type":"debug","z":"fd450761.c62cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":363,"y":77,"wires":[]},{"id":"1df8a89f.a67187","type":"function","z":"fd450761.c62cc8","name":"","func":" node.send({\n        topic: 'switchbox/input/s3',\n        payload: msg.payload\n    });\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":243,"wires":[["34fa6bb8.943a64"]]},{"id":"25b4cbea.92e9a4","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Shrimp","inputtrigger":false,"x":89,"y":304,"wires":[["28803c89.da4f04"]]},{"id":"42de313d.ccb6f","type":"function","z":"fd450761.c62cc8","name":"","func":" node.send({\n        topic: 'switchbox/input/s8',\n        payload: msg.payload\n    });\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":367,"wires":[["34fa6bb8.943a64"]]},{"id":"aae5a604.0fe408","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Rimless Gas","inputtrigger":false,"x":97,"y":243,"wires":[["1df8a89f.a67187"]]},{"id":"28803c89.da4f04","type":"function","z":"fd450761.c62cc8","name":"","func":" node.send({\n        topic: 'switchbox/input/s4',\n        payload: msg.payload\n    });\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":304,"wires":[["34fa6bb8.943a64"]]},{"id":"f98b958f.dc7a98","type":"function","z":"fd450761.c62cc8","name":"","func":" node.send({\n        topic: 'switchbox/input/s2',\n        payload: msg.payload\n    });\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":165,"wires":[["34fa6bb8.943a64"]]},{"id":"ef724fe3.913ca","type":"mqtt out","z":"fd450761.c62cc8","name":"switchbox/input/+","topic":"","qos":"","retain":"","broker":"3c53f07a.27aaa","x":749.0000038146973,"y":270.99999809265137,"wires":[]},{"id":"34fa6bb8.943a64","type":"delay","z":"fd450761.c62cc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":525.9999961853027,"y":269.99999237060547,"wires":[["ef724fe3.913ca"]]},{"id":"f7941ddb.a37b4","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Rimless Tank","inputtrigger":false,"x":93.5,"y":172,"wires":[["dd561c90.dbe08","f98b958f.dc7a98"]]},{"id":"d3c52220.3f138","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Aqua Hub","inputtrigger":false,"x":90.00000381469727,"y":451.0104093551636,"wires":[["f98b958f.dc7a98","1df8a89f.a67187","28803c89.da4f04","42de313d.ccb6f"]]},{"id":"daa77ff7.58c63","type":"alexa-local","z":"fd450761.c62cc8","devicename":"Reset Aqua Hub","inputtrigger":false,"x":85,"y":528.0105400085449,"wires":[["4ae79382.8937fc"]]},{"id":"4ae79382.8937fc","type":"function","z":"fd450761.c62cc8","name":"","func":"\n node.send({\n        topic: 'switchbox/input/s2',\n        payload: \"auto\"\n    });\n     node.send({\n        topic: 'switchbox/input/s3',\n        payload: \"auto\"\n    });\n     node.send({\n        topic: 'switchbox/input/s4',\n        payload: \"auto\"\n    });\n    node.send({\n        topic: 'switchbox/input/s8',\n        payload: \"auto\"\n    });\nreturn msg;","outputs":1,"noerr":0,"x":383.0173645019531,"y":516.0104246139526,"wires":[["34fa6bb8.943a64"]]},{"id":"3c53f07a.27aaa","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.24","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
