Flow.txt
[{"id":"69145b6f.931434","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":660,"y":1340,"wires":[]},{"id":"c3975259.8b9ea","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s8","qos":"2","broker":"465d5253.582b4c","x":150.5,"y":861.5,"wires":[["ebe3662d.b280c8"]]},{"id":"370d443d.090acc","type":"comment","z":"a8f7fc41.709ac","name":"use the output to switch phyisical devices","info":"","x":220,"y":940,"wires":[]},{"id":"1e9a6d61.afcbb3","type":"change","z":"a8f7fc41.709ac","name":"","rules":[{"tot":"bool","pt":"msg","to":"true","p":"payload","from":"on","fromt":"str","t":"change"},{"tot":"bool","pt":"msg","to":"false","p":"payload","from":"off","fromt":"str","t":"change"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1140,"wires":[["32d4ab7c.f08b04","79fb5998.a05d48"]]},{"id":"7cfdd7fd.6e9ea8","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/output/+","qos":"2","broker":"465d5253.582b4c","x":150,"y":240,"wires":[["7bd5ddbb.0d22c4"]]},{"id":"de7e9393.ada6","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s4","outpayload1":"off","outpayload2":"on","name":"s4 - Finnex 24/7","lat":"40.90","lon":"-74.07","starttime":"1110","endtime":"1380","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"700","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":440,"y":620,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"5d8d537a.3d901c","type":"delay","z":"a8f7fc41.709ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":80,"wires":[["39e07aae.025d16"]]},{"id":"4e319ca3.14cb74","type":"function","z":"a8f7fc41.709ac","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\nglobal.set('state.'+device+'.input', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["e88a8fa3.f9bf2"]]},{"id":"1b26931f.0ad69d","type":"comment","z":"a8f7fc41.709ac","name":"Switch","info":"1 ATO\n2 UNS\n3 CO2\n4 Finnex\n5 \n6\n7 skimmer\n8 \n","x":750,"y":560,"wires":[]},{"id":"65fda618.b4c308","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s5","qos":"2","broker":"465d5253.582b4c","x":150.5,"y":679.5,"wires":[["2c2139c9.ffa586"]]},{"id":"79fb5998.a05d48","type":"switch","z":"a8f7fc41.709ac","name":"","property":"topic","propertyType":"msg","rules":[{"v":"switchbox/output/s1","t":"eq","vt":"str"},{"v":"switchbox/output/s2","t":"eq","vt":"str"},{"v":"switchbox/output/s3","t":"eq","vt":"str"},{"v":"switchbox/output/s4","t":"eq","vt":"str"},{"v":"switchbox/output/s5","t":"eq","vt":"str"},{"v":"switchbox/output/s6","t":"eq","vt":"str"},{"v":"switchbox/output/s7","t":"eq","vt":"str"},{"v":"switchbox/output/s8","t":"eq","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":470,"y":1140,"wires":[["b064af8a.78f65"],["cff766ad.865f98"],["94b0b0e8.2df52"],["13533d52.85c2c3"],["a2eaf800.4dd8b8"],["380ccdd2.74f342"],["c6192cb5.c973e"],["69145b6f.931434"]]},{"id":"5eb6a41a.06c30c","type":"comment","z":"a8f7fc41.709ac","name":"handle state changes","info":"","x":160,"y":120,"wires":[]},{"id":"c6565443.75c5c8","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s2","outpayload1":"off","outpayload2":"on","name":"s2 - UNS","lat":"40.90","lon":"-74.07","starttime":"1080","endtime":"1380","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"700","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":420,"y":500,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"a2eaf800.4dd8b8","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":660,"y":1160,"wires":[]},{"id":"39e07aae.025d16","type":"mqtt out","z":"a8f7fc41.709ac","name":"switchbox/input/+","topic":"","qos":"","retain":"","broker":"465d5253.582b4c","x":988,"y":79,"wires":[]},{"id":"721c2626.e91c78","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/output/+","qos":"2","broker":"465d5253.582b4c","x":150,"y":1040,"wires":[["1e9a6d61.afcbb3"]]},{"id":"ebe3662d.b280c8","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s8","outpayload1":"on","outpayload2":"off","name":"s8 - Skimmer","lat":"40.90","lon":"-74.07","starttime":"945","endtime":"10005","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"30","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":430.5,"y":861.5,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"380ccdd2.74f342","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":660,"y":1220,"wires":[]},{"id":"3898b3da.596b0c","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s7","qos":"2","broker":"465d5253.582b4c","x":150,"y":800,"wires":[["7fdc81e7.2eda9"]]},{"id":"b064af8a.78f65","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":660,"y":920,"wires":[]},{"id":"624c7c96.745b24","type":"comment","z":"a8f7fc41.709ac","name":"configure devices here","info":"","x":360,"y":40,"wires":[]},{"id":"32d4ab7c.f08b04","type":"debug","z":"a8f7fc41.709ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1240,"wires":[]},{"id":"b4896cf.c82d39","type":"function","z":"a8f7fc41.709ac","name":"init state","func":"var state   = global.get('state')   || {};\nvar devices = global.get('devices') || {};\n\n\nfor (var device in devices) {\n\n    if ( ! (device in state) ) {\n        state[device] = {}\n        state[device]['input'] = devices[device]['default'];\n    } \n    \n\n    if (devices[device]['force'] === true) {\n        state[device]['input'] = devices[device]['default'];\n    }   \n\n    payload = state[device]['input'];\n\n    node.send({\n        topic: 'switchbox/input/' + device,\n        payload: payload\n    });\n}\n\n\nglobal.set('state', state);\n","outputs":"1","noerr":0,"x":541.5,"y":80,"wires":[["5d8d537a.3d901c"]]},{"id":"775e1640.66da18","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/state","qos":"2","broker":"465d5253.582b4c","x":140,"y":340,"wires":[["14d95ff6.78108"]]},{"id":"94d808ff.c81b78","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s4","qos":"2","broker":"465d5253.582b4c","x":150,"y":620,"wires":[["de7e9393.ada6"]]},{"id":"40043588.32b77c","type":"mqtt out","z":"a8f7fc41.709ac","name":"","topic":"switchbox/state","qos":"2","retain":"","broker":"465d5253.582b4c","x":780,"y":200,"wires":[]},{"id":"14d95ff6.78108","type":"json","z":"a8f7fc41.709ac","name":"","property":"payload","action":"","pretty":false,"x":330,"y":340,"wires":[["d9667153.77f77"]]},{"id":"b3cea233.07e7e","type":"comment","z":"a8f7fc41.709ac","name":"Dashboard Buttons ","info":"","x":150,"y":300,"wires":[]},{"id":"3dce14ba.7cfc7c","type":"comment","z":"a8f7fc41.709ac","name":"load state","info":"","x":120,"y":40,"wires":[]},{"id":"8f5d3181.3a131","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s1","qos":"2","broker":"465d5253.582b4c","x":150,"y":440,"wires":[["1ca6751d.b7117b"]]},{"id":"1b2d2735.3359c9","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s2","qos":"2","broker":"465d5253.582b4c","x":150,"y":500,"wires":[["c6565443.75c5c8"]]},{"id":"15273f0.9cba0c1","type":"function","z":"a8f7fc41.709ac","name":"init devices","func":"/* set up all devices */\n\nvar devices = {\n    s1: {\n        name: 'S1',\n        default: 'auto',\n        force: false,\n    },\n    s2: {\n        name: 'UNS',\n        default: 'auto',\n        force: true\n    },\n    s3: {\n        name: 'CO2',\n        default: 'auto',\n        force: true\n    },\n    s4: {\n        name: 'Finnex',\n        default: 'auto',\n        force: true\n    },\n    s5: {\n        name: '5',\n        default: 'on',\n        force: true\n    },\n    s6: {\n        name: '6',\n        default: 'on',\n        force: true\n    },\n    s7: {\n        name: 'ATO',\n        default: 'on',\n        force: true\n    },\n    s8: {\n        name: 'Skimmer',\n        default: 'off',\n        force: true\n    }\n}\n\n\nglobal.set('devices', devices);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["b4896cf.c82d39"]]},{"id":"13533d52.85c2c3","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"32","set":true,"level":"0","freq":"","out":"out","x":660,"y":1100,"wires":[]},{"id":"e88a8fa3.f9bf2","type":"function","z":"a8f7fc41.709ac","name":"build state object","func":"/* build full state object */\nvar state   = global.get('state');\nvar devices = global.get('devices');\n\nfor(var device in devices) {\n    devices[device]['state'] = state[device];   \n}\n\nmsg = {\n    topic: 'switchbox/state',\n    payload: devices\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["40043588.32b77c"]]},{"id":"7bd5ddbb.0d22c4","type":"function","z":"a8f7fc41.709ac","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\nglobal.set('state.'+device+'.output', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["e88a8fa3.f9bf2"]]},{"id":"7fdc81e7.2eda9","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s7","outpayload1":"on","outpayload2":"off","name":"s7- ATO","lat":"40.90","lon":"-74.07","starttime":"750","endtime":"1260","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":420,"y":800,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"d9667153.77f77","type":"ui_template","z":"a8f7fc41.709ac","group":"7e20b5c4.fca81c","name":"buttons","order":1,"width":"9","height":"10","format":"\n<div ng-repeat=\"(key, device) in msg.payload\" ng-if=\"$index < 4\">\n\t<div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\t\t<span class=\"btn-name\" flex=\"30\">{{ device.name }}</span>\n\t    \n\t\t<md-button \n            ng-click=\"send({payload: 'off', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'off' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-off\" \n            flex>\n            ON\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'auto', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'auto' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-auto\" \n            flex>\n            AUTO\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'on', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'on' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-on\" \n            flex>\n            OFF\n        </md-button>\n\t\t<md-led \n            ng-class=\"device.state.output === 'on' ? 'md-led-off' : 'md-led-on'\"\n            class=\"md-led\"\n        </md-led>\n    </div>\n</div>\n\n<div ng-repeat=\"(key, device) in msg.payload\" ng-if=\"$index >3\">\n\t<div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\t\t<span class=\"btn-name\" flex=\"30\">{{ device.name }}</span>\n\t\t\t<md-button \n            ng-click=\"send({payload: 'on', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'on' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-on\" \n            flex>\n            ON\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'auto', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'auto' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-auto\" \n            flex>\n            AUTO\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'off', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'off' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-off\" \n            flex>\n            OFF\n        </md-button>\n\t\t<md-led \n            ng-class=\"device.state.output === 'on' ? 'md-led-on' : 'md-led-off'\"\n            class=\"md-led\"\n        </md-led>\n    </div>\n</div>\n\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 10px;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn {\n        color: #000;\n        padding: 15px;\n        margin: 0px 10px 0px 0px;\n        background-color: #c3c3c3;\n        border: 1px solid #ababab;\n        box-shadow: 4px 4px 6px 0 #dadada;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-on.btn-selected {\n        background-color: #00FF00;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-auto.btn-selected {\n        background-color: #f4c61e;\n    }\n    \n    \n    .btn-name {\n        text-align: center;\n        font-weight: bold;\n    }\n    \n\n    .md-led {\n        margin-left: 15px;\n        border-radius: 50%;\n\t    width: 20px;\n\t    height: 20px; \n\t    border: 1px solid #666666;\n    }\n    \n    .md-led.md-led-on {\n        background: #00ff00; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #00ff00 0%, #00c406 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #00ff00 0%,#00c406 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #00ff00 0%,#00c406 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#00c406',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n    \n    .md-led.md-led-off {\n        background: #ff0000; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, #d61800 95%, #b70300 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,#d61800 95%,#b70300 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #ff0000 0%,#d61800 95%,#b70300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b70300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n \n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":540,"y":340,"wires":[["3df5e1f4.43605e"]]},{"id":"c6192cb5.c973e","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":660,"y":1280,"wires":[]},{"id":"b971c173.eea1c","type":"comment","z":"a8f7fc41.709ac","name":"Timers","info":"","x":110,"y":400,"wires":[]},{"id":"1ca6751d.b7117b","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s1","outpayload1":"off","outpayload2":"on","name":"S1","lat":"40.90","lon":"-74.07","starttime":"1065","endtime":"10001","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"5","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":true,"x":410,"y":440,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"b53d7872.e28278","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s6","qos":"2","broker":"465d5253.582b4c","x":150.5,"y":741.5,"wires":[["5af76b3c.bcbc94"]]},{"id":"2c2139c9.ffa586","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s5","outpayload1":"on","outpayload2":"off","name":"s5","lat":"40.90","lon":"-74.07","starttime":"1380","endtime":"1410","startoff":"3","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":410,"y":680,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"3df5e1f4.43605e","type":"mqtt out","z":"a8f7fc41.709ac","name":"switchbox/input/+","topic":"","qos":"","retain":"","broker":"465d5253.582b4c","x":790,"y":340,"wires":[]},{"id":"dc6c5ec1.9cb66","type":"comment","z":"a8f7fc41.709ac","name":"broadcast full state","info":"","x":770,"y":120,"wires":[]},{"id":"31f8bf5b.9fde2","type":"mqtt out","z":"a8f7fc41.709ac","name":"switchbox/output/+","topic":"","qos":"","retain":"","broker":"465d5253.582b4c","x":790,"y":640,"wires":[]},{"id":"6f9469d6.0a7da8","type":"inject","z":"a8f7fc41.709ac","name":"on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":80,"wires":[["15273f0.9cba0c1"]]},{"id":"313a285c.64a678","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/s3","qos":"2","broker":"465d5253.582b4c","x":150,"y":560,"wires":[["921089ec.ffc108"]]},{"id":"cff766ad.865f98","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":660,"y":980,"wires":[]},{"id":"5af76b3c.bcbc94","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s6","outpayload1":"on","outpayload2":"off","name":"s6","lat":"40.90","lon":"-74.07","starttime":"435","endtime":"450","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":410.5,"y":741.5,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"921089ec.ffc108","type":"bigtimer","z":"a8f7fc41.709ac","outtopic":"switchbox/output/s3","outpayload1":"off","outpayload2":"on","name":"s3  - CO2","lat":"40.90","lon":"-74.07","starttime":"1050","endtime":"1320","startoff":0,"endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"540","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":420,"y":560,"wires":[["31f8bf5b.9fde2"],[],[]]},{"id":"94b0b0e8.2df52","type":"rpi-gpio out","z":"a8f7fc41.709ac","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":660,"y":1040,"wires":[]},{"id":"e42f7387.56e21","type":"mqtt in","z":"a8f7fc41.709ac","name":"","topic":"switchbox/input/+","qos":"2","broker":"465d5253.582b4c","x":140,"y":160,"wires":[["4e319ca3.14cb74"]]},{"id":"465d5253.582b4c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.24","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e20b5c4.fca81c","type":"ui_group","z":"","name":"Buttons","tab":"1e967441.f0b32c","disp":true,"width":"10"},{"id":"1e967441.f0b32c","type":"ui_tab","z":"","name":"Buttons","icon":"dashboard","order":1}]
