Flow.txt
[{"id":"20c57c11.65a864","type":"tab","label":"Hub","disabled":false,"info":""},{"id":"1f778eb4.7c0c41","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":760,"y":1040,"wires":[]},{"id":"a5127bb.bc6e288","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/state","qos":"2","broker":"3c53f07a.27aaa","x":240,"y":340,"wires":[["48dd78b4.b67c78"]]},{"id":"f6982312.ece36","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":760,"y":920,"wires":[]},{"id":"392eaa67.38eef6","type":"comment","z":"20c57c11.65a864","name":"use the output to switch phyisical devices","info":"","x":320,"y":940,"wires":[]},{"id":"a0126ae5.989318","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s3","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":560,"wires":[["705c3430.59987c"]]},{"id":"705c3430.59987c","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s3","outpayload1":"off","outpayload2":"on","name":"s3  - CO2","lat":"40.90","lon":"-74.07","starttime":"1050","endtime":"1320","startoff":0,"endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"540","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":520,"y":560,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"611d5eb1.7069a","type":"delay","z":"20c57c11.65a864","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":80,"wires":[["5934f1d3.921f8"]]},{"id":"87589164.d0c4","type":"comment","z":"20c57c11.65a864","name":"load state","info":"","x":220,"y":40,"wires":[]},{"id":"5763f409.931a2c","type":"change","z":"20c57c11.65a864","name":"","rules":[{"pt":"msg","t":"change","tot":"bool","fromt":"str","p":"payload","to":"true","from":"on"},{"pt":"msg","t":"change","tot":"bool","fromt":"str","p":"payload","to":"false","from":"off"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1140,"wires":[["759c2a67.81b694","ea6d6a1c.de9c48"]]},{"id":"6c4d17ec.090d28","type":"mqtt out","z":"20c57c11.65a864","name":"switchbox/input/+","topic":"","qos":"","retain":"","broker":"3c53f07a.27aaa","x":890,"y":340,"wires":[]},{"id":"19865927.d0f027","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s1","outpayload1":"off","outpayload2":"on","name":"S1","lat":"40.90","lon":"-74.07","starttime":"1065","endtime":"10001","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"5","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":true,"x":510,"y":440,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"a75ac519.a39eb8","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"32","set":true,"level":"0","freq":"","out":"out","x":760,"y":1100,"wires":[]},{"id":"37db03a3.1c446c","type":"comment","z":"20c57c11.65a864","name":"Timers","info":"","x":210,"y":400,"wires":[]},{"id":"7ddcaed0.b11ee","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":760,"y":1220,"wires":[]},{"id":"10abde87.289fa1","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":760,"y":1280,"wires":[]},{"id":"450a9d9b.0b1e24","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":760,"y":1340,"wires":[]},{"id":"1327d3b3.0a6b4c","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":760,"y":1160,"wires":[]},{"id":"269282eb.db6a5e","type":"mqtt out","z":"20c57c11.65a864","name":"switchbox/output/+","topic":"","qos":"","retain":"","broker":"3c53f07a.27aaa","x":890,"y":640,"wires":[]},{"id":"e9d21de5.9c43f","type":"ui_template","z":"20c57c11.65a864","group":"ce3bc714.7661f8","name":"buttons","order":1,"width":"9","height":"10","format":"\n<div ng-repeat=\"(key, device) in msg.payload\" ng-if=\"$index < 4\">\n\t<div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\t\t<span class=\"btn-name\" flex=\"30\">{{ device.name }}</span>\n\t    \n\t\t<md-button \n            ng-click=\"send({payload: 'on', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'on' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-on\" \n            flex>\n            ON\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'auto', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'auto' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-auto\" \n            flex>\n            AUTO\n        </md-button>\n        <md-button \n            ng-click=\"send({payload: 'off', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'off' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-off\" \n            flex>\n            OFF\n        </md-button>\n\t\t<md-led \n            ng-class=\"device.state.output === 'on' ? 'md-led-off' : 'md-led-on'\"\n            class=\"md-led\"\n        </md-led>\n    </div>\n</div>\n\n<div ng-repeat=\"(key, device) in msg.payload\" ng-if=\"$index >3\">\n\t<div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\t\t<span class=\"btn-name\" flex=\"30\">{{ device.name }}</span>\n\t\t\t<md-button \n            ng-click=\"send({payload: 'on', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'on' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-on\" \n            flex>\n            ON\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'auto', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'auto' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-auto\" \n            flex>\n            AUTO\n        </md-button>\n\t\t<md-button \n            ng-click=\"send({payload: 'off', topic: 'switchbox/input/'+key});\"\n            ng-class=\"device.state.input === 'off' ? 'btn-selected' : ''\" \n            class=\"md-raised btn btn-off\" \n            flex>\n            OFF\n        </md-button>\n\t\t<md-led \n            ng-class=\"device.state.output === 'on' ? 'md-led-on' : 'md-led-off'\"\n            class=\"md-led\"\n        </md-led>\n    </div>\n</div>\n\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 10px;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn {\n        color: #000;\n        padding: 15px;\n        margin: 0px 10px 0px 0px;\n        background-color: #c3c3c3;\n        border: 1px solid #ababab;\n        box-shadow: 4px 4px 6px 0 #dadada;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-on.btn-selected {\n        background-color: #00FF00;\n    }\n    \n    .nr-dashboard-theme-light .md-button.btn.btn-auto.btn-selected {\n        background-color: #f4c61e;\n    }\n    \n    \n    .btn-name {\n        text-align: center;\n        font-weight: bold;\n    }\n    \n\n    .md-led {\n        margin-left: 15px;\n        border-radius: 50%;\n\t    width: 20px;\n\t    height: 20px; \n\t    border: 1px solid #666666;\n    }\n    \n    .md-led.md-led-on {\n        background: #00ff00; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #00ff00 0%, #00c406 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #00ff00 0%,#00c406 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #00ff00 0%,#00c406 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#00c406',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n    \n    .md-led.md-led-off {\n        background: #ff0000; /* Old browsers */\n        background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, #d61800 95%, #b70300 100%); /* FF3.6-15 */\n        background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,#d61800 95%,#b70300 100%); /* Chrome10-25,Safari5.1-6 */\n        background: radial-gradient(ellipse at center, #ff0000 0%,#d61800 95%,#b70300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\n        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b70300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */\n    }\n \n</style>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":640,"y":340,"wires":[["6c4d17ec.090d28"]]},{"id":"e76a2bd3.7c2e98","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s6","qos":"2","broker":"3c53f07a.27aaa","x":250.5,"y":741.5,"wires":[["961de5f.f584f18"]]},{"id":"98f8f158.71401","type":"comment","z":"20c57c11.65a864","name":"Dashboard Buttons ","info":"","x":250,"y":300,"wires":[]},{"id":"1d68d7b9.230778","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/output/+","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":1040,"wires":[["5763f409.931a2c"]]},{"id":"a7ba7eb5.70cb6","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s1","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":440,"wires":[["19865927.d0f027"]]},{"id":"953718ea.3fe7b8","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/output/+","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":240,"wires":[["5fb4111b.1fe36"]]},{"id":"8c6f99c3.069f58","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/+","qos":"2","broker":"3c53f07a.27aaa","x":240,"y":160,"wires":[["574df73d.80fd38"]]},{"id":"ea6d6a1c.de9c48","type":"switch","z":"20c57c11.65a864","name":"","property":"topic","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"switchbox/output/s1"},{"vt":"str","t":"eq","v":"switchbox/output/s2"},{"vt":"str","t":"eq","v":"switchbox/output/s3"},{"vt":"str","t":"eq","v":"switchbox/output/s4"},{"vt":"str","t":"eq","v":"switchbox/output/s5"},{"vt":"str","t":"eq","v":"switchbox/output/s6"},{"vt":"str","t":"eq","v":"switchbox/output/s7"},{"vt":"str","t":"eq","v":"switchbox/output/s8"}],"checkall":"true","repair":false,"outputs":8,"x":570,"y":1140,"wires":[["f6982312.ece36"],["9cd6d7d7.46c988"],["1f778eb4.7c0c41"],["a75ac519.a39eb8"],["1327d3b3.0a6b4c"],["7ddcaed0.b11ee"],["10abde87.289fa1"],["450a9d9b.0b1e24"]]},{"id":"b4a12780.f6a0d8","type":"mqtt out","z":"20c57c11.65a864","name":"","topic":"switchbox/state","qos":"2","retain":"","broker":"3c53f07a.27aaa","x":880,"y":200,"wires":[]},{"id":"5fb4111b.1fe36","type":"function","z":"20c57c11.65a864","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\nglobal.set('state.'+device+'.output', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["7469513d.195e7"]]},{"id":"403d56ea.dc0418","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s5","outpayload1":"on","outpayload2":"off","name":"s5","lat":"40.90","lon":"-74.07","starttime":"1380","endtime":"1410","startoff":"3","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":510,"y":680,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"816cccc2.24401","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s2","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":500,"wires":[["c2f60f5a.d537e"]]},{"id":"44677463.ea2e5c","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s8","qos":"2","broker":"3c53f07a.27aaa","x":250.5,"y":861.5,"wires":[["fd7f86.fc4d9078"]]},{"id":"574df73d.80fd38","type":"function","z":"20c57c11.65a864","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\nglobal.set('state.'+device+'.input', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["7469513d.195e7"]]},{"id":"759c2a67.81b694","type":"debug","z":"20c57c11.65a864","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1240,"wires":[]},{"id":"c2f60f5a.d537e","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s2","outpayload1":"off","outpayload2":"on","name":"s2 - UNS","lat":"40.90","lon":"-74.07","starttime":"1080","endtime":"1380","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":"700","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":520,"y":500,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"a039af99.704b8","type":"function","z":"20c57c11.65a864","name":"init state","func":"var state   = global.get('state')   || {};\nvar devices = global.get('devices') || {};\n\n\nfor (var device in devices) {\n\n    if ( ! (device in state) ) {\n        state[device] = {}\n        state[device]['input'] = devices[device]['default'];\n    } \n    \n\n    if (devices[device]['force'] === true) {\n        state[device]['input'] = devices[device]['default'];\n    }   \n\n    payload = state[device]['input'];\n\n    node.send({\n        topic: 'switchbox/input/' + device,\n        payload: payload\n    });\n}\n\n\nglobal.set('state', state);\n","outputs":"1","noerr":0,"x":641.5,"y":80,"wires":[["611d5eb1.7069a"]]},{"id":"5714d793.4cc108","type":"inject","z":"20c57c11.65a864","name":"on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":240,"y":80,"wires":[["55f22b12.00c714"]]},{"id":"ff2e3afe.267548","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s7","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":800,"wires":[["40b29bcd.09c6f4"]]},{"id":"48dd78b4.b67c78","type":"json","z":"20c57c11.65a864","name":"","property":"payload","action":"","pretty":false,"x":430,"y":340,"wires":[["e9d21de5.9c43f"]]},{"id":"abc9c723.3d8938","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s4","outpayload1":"off","outpayload2":"on","name":"s4 - Finnex 24/7","lat":"40.90","lon":"-74.07","starttime":"1110","endtime":"1380","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"700","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":540,"y":620,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"961de5f.f584f18","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s6","outpayload1":"on","outpayload2":"off","name":"s6","lat":"40.90","lon":"-74.07","starttime":"435","endtime":"450","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":510.5,"y":741.5,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"55f22b12.00c714","type":"function","z":"20c57c11.65a864","name":"init devices","func":"/* set up all devices */\n\nvar devices = {\n    s1: {\n        name: 'S1',\n        default: 'auto',\n        force: false,\n    },\n    s2: {\n        name: 'UNS',\n        default: 'auto',\n        force: true\n    },\n    s3: {\n        name: 'CO2',\n        default: 'auto',\n        force: true\n    },\n    s4: {\n        name: 'Finnex',\n        default: 'auto',\n        force: true\n    },\n    s5: {\n        name: '5',\n        default: 'on',\n        force: true\n    },\n    s6: {\n        name: '6',\n        default: 'on',\n        force: true\n    },\n    s7: {\n        name: 'ATO',\n        default: 'on',\n        force: true\n    },\n    s8: {\n        name: 'Skimmer',\n        default: 'off',\n        force: true\n    }\n}\n\n\nglobal.set('devices', devices);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["a039af99.704b8"]]},{"id":"9cd6d7d7.46c988","type":"rpi-gpio out","z":"20c57c11.65a864","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":760,"y":980,"wires":[]},{"id":"40b29bcd.09c6f4","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s7","outpayload1":"on","outpayload2":"off","name":"s7- ATO","lat":"40.90","lon":"-74.07","starttime":"750","endtime":"1260","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":520,"y":800,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"5934f1d3.921f8","type":"mqtt out","z":"20c57c11.65a864","name":"switchbox/input/+","topic":"","qos":"","retain":"","broker":"3c53f07a.27aaa","x":1088,"y":79,"wires":[]},{"id":"ef5421d2.bebe7","type":"comment","z":"20c57c11.65a864","name":"Switch","info":"1 ATO\n2 UNS\n3 CO2\n4 Finnex\n5 \n6\n7 skimmer\n8 \n","x":850,"y":560,"wires":[]},{"id":"1abaa49f.31128b","type":"comment","z":"20c57c11.65a864","name":"broadcast full state","info":"","x":870,"y":120,"wires":[]},{"id":"a57cedcc.21c51","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s5","qos":"2","broker":"3c53f07a.27aaa","x":250.5,"y":679.5,"wires":[["403d56ea.dc0418"]]},{"id":"7469513d.195e7","type":"function","z":"20c57c11.65a864","name":"build state object","func":"/* build full state object */\nvar state   = global.get('state');\nvar devices = global.get('devices');\n\nfor(var device in devices) {\n    devices[device]['state'] = state[device];   \n}\n\nmsg = {\n    topic: 'switchbox/state',\n    payload: devices\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["b4a12780.f6a0d8"]]},{"id":"fd7f86.fc4d9078","type":"bigtimer","z":"20c57c11.65a864","outtopic":"switchbox/output/s8","outpayload1":"on","outpayload2":"off","name":"s8 - Skimmer","lat":"40.90","lon":"-74.07","starttime":"945","endtime":"10005","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"30","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":530.5,"y":861.5,"wires":[["269282eb.db6a5e"],[],[]]},{"id":"c659890a.24d268","type":"comment","z":"20c57c11.65a864","name":"handle state changes","info":"","x":260,"y":120,"wires":[]},{"id":"84427791.c7d418","type":"mqtt in","z":"20c57c11.65a864","name":"","topic":"switchbox/input/s4","qos":"2","broker":"3c53f07a.27aaa","x":250,"y":620,"wires":[["abc9c723.3d8938"]]},{"id":"21a30d53.04f332","type":"comment","z":"20c57c11.65a864","name":"configure devices here","info":"","x":460,"y":40,"wires":[]},{"id":"3c53f07a.27aaa","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.24","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce3bc714.7661f8","type":"ui_group","z":"20c57c11.65a864","name":"Buttons","tab":"c12498ff.8255e8","disp":true,"width":"10","collapse":false},{"id":"c12498ff.8255e8","type":"ui_tab","z":"20c57c11.65a864","name":"Buttons","icon":"dashboard","order":1}]
